/* General styles */
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #000, #4C4C4C, #999); /* Gradient background */
    color: #fff; /* Set text color to white */
}

header {
    background-color: #000;
    color: #fff;
    padding: 0; /* Remove padding to make header thicker */
    text-align: left;
    position: relative;
    height: 250px; /* Set a fixed height for the header */
    overflow: hidden;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: flex-start; /* Horizontally align the content to the left */
    padding-left: 20px; /* Add padding to the left for spacing */
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the header area without distortion */
    object-position: center 35%;
    position: absolute;
    top: 0;
    left: 0;
}

header h1 {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 20px 0;
    font-size: 3em;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #fff; /* Change heading color to white */
}

p, ul {
    color: #fff; /* Change paragraph and list color to white */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #007bff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.button {
    flex: 1 1 calc(33.333% - 10px); /* 3 buttons per row with a gap of 10px */
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-sizing: border-box;
    font-family: 'Goudy Old Style', serif; /* Set font to Goudy Old Style */
}

.center-button {
    flex: 0 1 33.333%; /* Center button with fixed width */
    margin: 0 auto; /* Center the button */
}

.button:hover {
    opacity: 0.8;
}

/* Specific button colors */
.rogue {
    background-color: #FFF468;
}

.warlock {
    background-color: #8788EE;
}

.death-knight {
    background-color: #C41E3A;
}

.shaman {
    background-color: #0070DD;
}

.paladin {
    background-color: #F48CBA;
}

.warrior {
    background-color: #C69B6D;
}

.priest {
    background-color: #FFFFFF;
}

.demon-hunter {
    background-color: #A330C9;
}

.monk {
    background-color: #00FF98;
}

.mage {
    background-color: #3FC7EB;
}

.druid {
    background-color: #FF7C0A;
}

.hunter {
    background-color: #AAD372;
}

.evoker {
    background-color: #33937F;
    flex: 0 1 33.333%; /* Center button with fixed width */
    margin: 0 auto; /* Center the button */
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}